{% extends "base.html" %}
{% load static %}


{% block titulo %} Editar Libro {% endblock %}

{% block content %}
<div class="card " style="width: 50%; margin: 0 auto; margin-top: 4%; margin-bottom: 10%; ">
    <div class="card-header  d-flex bg-dark m-auto w-100">
        <h4 class="text-info m-auto p-3"> Editar datos del Libro</h4>
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del libro</h4>

        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {% for campo in formulario %}
        <div class="mb-3">
            <label for="titulo"
             class="form-label">{{campo.label}}</label>
              <br>
        
        <!-- ¡¡ Importante !! Esta fracción de codigo es para traer las imagenes del registro
        que se desea editar (si el registro tiene imagenes);
        1. Se llama l variable global de la carpeta que guardará los archivos del proyecto. 
        2.  se pone la carpeta donde se van a guardar las imagenes. 
        3. se llama el valor de los campos de la tabla en este caso trera el de las imagenes-->
             {% if campo.field.widget.input_type == 'file' and campo.value %}
             <img src="{{MEDIA_URL}}/media/{{campo.value}}" width="100"  alt="">
             {% endif %}
             <input type="{{ campo.field.widget.input_type}}"
             class="form-control" 
             name="{{campo.name}}" 
             placeholder="{{campo.label}}" required
             value="{{ campo.value | default:'' }}"> </input>
        
             <!-- se pone --campo.value | default:'' -- para que si no hay valor lo muestre vacio a la hora de editar -->
            </div>
            <div class="col-12 help-text">{{ campo.errors }}</div>
            {% endfor %}
            <div class="card-footer  bg-dark d-flex justify-content-center m-1 ">
                
         
            <button type="{{campo.field.widget.button_type}}submit"
            class="btn btn-outline-success w-35 m-1"
            value="Crear Libro"
            id="{{ campo.id.crear }}">Enviar Información</button>
            <a  type="button"   href="{% url 'Libros' %}"
            class="btn btn-outline-warning w-35 m-1 ps-4 pe-4 ">Volver</a>
            
        </div>
        </form> 
    </div>
</div>


{% endblock %}


<!-- 
        {% include 'libros/form.html' %} Esta sentencia sirve para llamar el formulario
        base; pero recibirá todos los nombres d elos botones igual y no se podrán
        personalizar.-->